{{#each this}}
<li class="photo-card-wrapper">
    <div class="photo-card">
        <div class="photo-thumb">
            <img data-big-img="{{largeImageURL}}" src="{{webformatURL}}" alt="{{tags}}" class="photo" />
        </div>

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}